:root {
    --light_orange: #F7AB3C;
    --medium_orange: #F1811C;
    --medium_orange_trans: #f17f1c81;
    --dark_orange: #EE6B21;
    --almost_white: #F3F3F3;
    --not_black: #252525;
    --nice_purple: #811CF1;
    --nice_purple_trans: #7f1cf14f;
    --material_dark: #212121;
    --grey: #5E5E5E;
    --textGrey: #BEBEBE;
    --textBgGrey: #3D4244;
    --lightYellow: #FFE082;
    --nice_blue: #61C1EC;
    --light_blue: #97d9f8;
}

.btn {
    cursor: pointer;
    border: none;
    border-radius: 9px;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    transition: all .1s cubic-bezier(0.38, 0.13, 0.32, 0.9);
    margin-top: 1vh;
    position: relative;
    border: solid 3px;
}
    .btn a {
        font-size: 1vw;
        transition: 0;
        color: inherit;
        transition: none !important;
        transition: all 0.25s;
    }

    .btn:focus-visible {
        outline: webkit-focus-ring-color auto 1px !important;
    }


.btn-primary {
    cursor: pointer;
    position: relative;
    background: var(--new-orange);
    border-color: var(--new-orange);
}

    .btn-primary:hover { 
        background: transparent;
        color: var(--new-orange);
    }


.btn-secondary {
    background: transparent;
    border-color: var(--light_blue);
    color: var(--light_blue);

}

    .btn-secondary:hover { 
        background: var(--light_blue);
        color: #162a42;
    }


.btn-purple {
    cursor: pointer;
    position: relative;
    background: var(--purple);
    border-color: var(--purple);
}

    .btn-purple:hover { 
        background: transparent;
        color: var(--purple);
    }

.btn-hollow-white {
    background: transparent;
    border-color: white;
    color: white;
}

    .btn-hollow-white:hover { 
        background: white;
        color: black;
    }



.expand_btn {
    border: none;
    text-decoration: none;
    background: none;
    left: 50%;
    text-align: center;
    position: relative;
    font-size: 0.75rem;
    color: var(--material_dark);
    margin-top: 10vh;
    transform: translateX(-50%);
    transition: .5s all !important;
    text-shadow: 0 0 0;
    background-color: #ffaf81;
}



@media screen and (max-width: 1000px) {
    .btn-primary, .btn-secondary, .btn-purple, .btn-hollow-white {
        padding-left: 5.75vw;
        padding-right: 5.75vw;
        padding-top: 1.6vw;
        padding-bottom: 1.6vw;
        margin-top: 1vh;
    }
    .btn-primary a, .btn-secondary a, .btn-purple a, .btn-hollow-white a {
        font-size: 1.5rem;
    }
}