:root {
    --light_orange: #F7AB3C;
    --medium_orange: #F1811C;
    --medium_orange_trans: #f17f1c81;
    --dark_orange: #EE6B21;
    --almost_white: #F3F3F3;
    --not_black: #252525;
    --nice_purple: #811CF1;
    --material_dark: #212121;
    --grey: #5E5E5E;
    --textGrey: #BEBEBE;
    --lightYellow: #FFE082;
}

/* set body invisible so it can get faded in */
body {
    opacity: 0;
    transition: all 500ms !important;
}

html, body {
    z-index: -2;
    overflow-x: hidden;
}

.bigHeader {
    color: var(--dark_orange);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 7rem;
    width: fit-content;
    margin-left: 50%;
    transform: translateX(-50%);
}

.smallHeader {
    color: var(--grey);
    text-align: center;
    margin-bottom: 8rem;
    font-size: small;
}

#content_wrapper {
    margin-top: 5rem;
    position: relative;
    display: block;
    margin-left: 20%;
    margin-bottom: 7rem;
    width: 60%;
    min-height: 100vh;

}

#title {
    font-size: 3rem;
    margin-top: 7rem;
    margin-bottom: 7rem;
    text-align: center;
    position: relative;
    color: var(--dark_orange);
    text-shadow: 0 0 5px var(--medium_orange_trans);
}

#artWrapper {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.bgArt {
    z-index: -1;
    top: 0;
    position: absolute;
    overflow: hidden;
}

.bgArt:first-of-type {
    left: -1000px;
}

.bgArt:last-of-type {
    right: -1100px;
}

#sureTheresMore {
    margin-top: 10rem;
    width: fit-content;
    display: block;
    position: relative;
    color: var(--grey);
    margin-left: 50%;
    transform: translateX(-50%);
}

.back_btn {
    padding: 0.5rem 2.5rem 0.5rem 2.5rem !important;
    left: 50%;
    transform: translateX(-50%);
}