:root {
    --light_orange: #F7AB3C;
    --medium_orange: #F1811C;
    --medium_orange_trans: #f17f1c81;
    --dark_orange: #EE6B21;
    --almost_white: #F3F3F3;
    --not_black: #252525;
    --nice_purple: #811CF1;
    --material_dark: #212121;
    --grey: #5E5E5E;
    --textGrey: #BEBEBE;
    --lightYellow: #FFE082;
    --cardBG: #303030;
}



/* general */

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pointer {
    cursor: pointer;
}

/* select */

::selection {
    background-color: var(--dark_orange);
    color: var(--material_dark);
}

/* smooth scroll */
html {
    scroll-behavior: smooth;
  }

  @media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: smooth;
	}
}


/* scrollbar */

body::-webkit-scrollbar {
    width: 0.25vw;
    background-color: var(--not_black);
}
 
 
body::-webkit-scrollbar-thumb {
    background-color: var(--light_orange);
    border-radius: 10px;
}


/* fonts */

.brevia_bold {
    font-family: brevia, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.brevia_medium {
    font-family: brevia,sans-serif;
    font-weight: 500;
    font-style: normal;
}

.rubik_regular {
    font-family: rubik, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rubik_light {
    font-family: rubik, sans-serif;
    font-weight: 300;
    font-style: normal;
}

a {
    text-decoration: none;
    color: var(--dark_orange);
}

/* --- */

/* general stuff */

.mousepointer {
    cursor: pointer;
}

html, body {
    background-color: var(--material_dark);
    position: absolute;
    margin: 0;
    width: 100%;
}

.content_wrapper {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    top: 100%;
    width: 100%;
    height: fit-content;
}

/* no x overflow */

body {
    overflow-x: hidden;
    transition: opacity 250ms;
}

/* --- */


/* new margin 2.0 technology (patent pending) */

header, #page1, .footer_inner {
    left: 5vw;
    max-width: 90vw;
}


/* header */

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 13vh;
    padding-top: 4vh;
}

.logo_wrapper {
    display: block;
    width: fit-content;
    position: relative;
}

.logo_image {
    position: relative;
    padding-right: 3px;
}
.logo img {
    width: 1vw;
}

.logo span {
    font-size: 1.2vw;
    color: var(--almost_white);
}

.header_menu {
    position: relative;
    float: right;
}

.menu_item {
    padding-right: 45px;
    color: var(--dark_orange);
    box-shadow: 0 0 0;
    transition: all 500ms;
}

.menu_item:hover {
    color: var(--light_orange);
    text-shadow: 0 0 20px var(--medium_orange_trans);
    transition: all 250ms;
}
.menu_item:last-child {
    padding-right: 0;
}
/* --- */

/* mobile menu */

.sidenav {
    display: none;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: var(--not_black);
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.061);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    display: block;
    font-size: 1.5rem;
    color: var(--almost_white);
}
.sidenav a:first-child {
    color: var(--dark_orange) !important;
} 
#navbarOpener {
    opacity: 1;
    display: none;
    position: fixed;
    z-index: 2;
    right: 2rem;
    font-size: 2rem;
    color: var(--dark_orange);
    transition: opacity 0.5s;
}

#mainContent {
    transition: margin-right 0.5s;
    overflow: hidden;
}

/* Page1 */

#page1 {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 90vw;
    height: 100%;
    overflow: visible;
}

.page1_leftside {
    display: block;
    position: relative;
    max-width: 15vw;
    height: fit-content;
}

.big_h1 {
    font-size: 3vw;
    color: var(--dark_orange);
}

.intro_p {
    margin-top: 1vh;
    font-size: 1vw;
    color: #ABABAB;
}

.btn-primary{
    position: relative;
    background: linear-gradient(90deg, var(--light_orange), var(--medium_orange) 51%, var(--light_orange)) var(--x, 0)/ 200%;
    box-shadow: 0 0 25px var(--medium_orange_trans);
    border: none;
    border-radius: 40px;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    transition: all 2s cubic-bezier(0.38, 0.13, 0.32, 0.9) ;
    margin-top: 1vh;
}

.btn-primary:hover { --x: 100%; 
    box-shadow: 5px 2px 25px var(--medium_orange);
    transition: all 0.5s cubic-bezier(0.38, 0.13, 0.32, 0.9);
}




.btn-primary:focus {
    background-color: var(--light_orange);
    outline: none;
}

.btn-primary a {
    color: var(--almost_white);
    font-size: 1vw;
}


/* picture stuff */

.picture_wrapper {
    position: relative;
    float: right;
    position: relative;
    min-width: 25vw;
    min-height: 25vw;
}

.picture, .blob {
    position: absolute;
    width: 15vw;
    top: 0;
    right: 0;
}

.picture {
    right: 5vw;
    z-index: 2;
}


.blob {
    top: 10vh;
    z-index: 1;
}

#lines {
    position: absolute;
    left: -201%;
    width: 150vw;
}

.wave  {
    position: relative;
    left: 0;
    width: 100%;
    z-index: -1;
    overflow: visible;
}

.wave_black {
    transform: translateY(5%);
    fill: var(--not_black) !important;
    z-index: 0;
}

.wave_purple {
    transform: translateY(10%);
    fill: var(--nice_purple) !important;
    z-index: 0;
}

/* page1 spacer*/

#page1 {
    min-height: fit-content;
}

#scroll_here {
    position: absolute;
    top: 104vh;
    left: 0vw;
    width: 200px;
    height: 100px;
}

/* --- */

#lower_content {
    position: relative;
    width: 100%;
    background-color: var(--not_black);
    overflow: hidden;
}

/* page 2*/

.pages {
    overflow: visible;
}
.artwork {
    position: relative;
}

.artwork img {
    width: 22vw;
}

.pages:last-child {
    padding-bottom: 5vh;
}


.pages_header {
    position: relative;
    color: var(--almost_white);
    font-size: 2rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: center;
}

.fancy_spacer {
    position: relative;
    margin-top: 2vh;
    width: 50vw;
    height: 1vh;
    background: linear-gradient(90deg, rgba(241,129,28,1) 0%, rgba(247,171,60,1) 100%);
    border-radius: 15vw;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 20px 50px var(--medium_orange_trans);
}

.parahraph_wrapper {
    position: relative;
    margin-top: 6vh;
    max-width: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.block_text {
    color: var(--almost_white);
    font-size: 1.14rem;
    text-align: center;
}

.expand_btn {
    border: none;
    text-decoration: none;
    outline: 0;
    background: none;
    left: 50%;
    text-align: center;
    position: relative;
    font-size: 0.75rem;
    color: var(--medium_orange);
    margin-top: 10vh;
    transform: translateX(-50%) !important;
    transition: 2s all !important;
    text-shadow: 0 0 0;
}

.expand_btn:hover {
    color: var(--light_orange);
    text-shadow: 0 0 10px var(--medium_orange);
    transition: 750ms all !important;
}

.collapsible_content {
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease-out, opacity 0.3s;
    margin-top: 0;
    width: 50%;
    flex-wrap: wrap;
}

.smallHeader {
    color: var(--grey);
    text-align: center;
    margin-bottom: 8rem;
    font-size: small;
    flex-basis: 100%;
}

.collapsible_content h2 {
    margin-bottom: 2rem;
}

#page3 h2 {
    color: var(--cardBG);
}

/* card system */

.card {
    opacity: 0;
    transition: all 0.75s;
    background-color: var(--cardBG);
    padding: 2rem;
    border-radius: 1rem;
    width: 10rem;
    margin-bottom: 3rem;
    height: fit-content;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.212);
    color: var(--almost_white);
}

.card:hover {
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.212);
}

@media screen and (min-width: 1500px) {
    .collapsible_content {
        width: 60%;
    }
}

@media screen and (max-width: 850px) {
    .card {
        padding: 2rem;
        margin-bottom: 2rem;
        flex-basis: 100%;
    }
    .collapsible_content {
        width:75%;
        justify-content: space-around;
    }
}

.card-title {
    cursor: pointer;
    color: var(--almost_white);
    transform: translateY(-0.5rem);
    font-size: 1.5rem;
    position: relative;
    display: inline-block;
    text-decoration: underline;
    -webkit-text-decoration-color: var(--light_orange);
    text-decoration-color: var(--light_orange);
    white-space: normal;
}

.card-titel:focus {
    text-decoration: underline;
    -webkit-text-decoration-color: var(--light_orange);
    text-decoration-color: var(--light_orange);
}

.card-title:hover {
    -webkit-text-decoration-color: var(--medium_orange);
    text-decoration-color: var(--medium_orange);
}

.card-content {
    color: var(--textGrey);
}
.text_wrapper {
    display: block;
    position: relative;
    max-width: 200px;
    height: fit-content;
    left: 10%;
}

.text_block {
    font-size: 1.14rem;
    float: left;
    padding-bottom: 10px;
    color: var(--almost_white);
    height: fit-content;
}

ul {
    list-style: none;
}

ul li::before {
    content: "\2022";
    color: var(--light_orange);
    font-weight: 2000;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.text_block:last-child {
    padding-bottom: 0;
}

.text_block p {
    margin: 0;
    margin-left: 40px;
}

.circle {
    margin-top: 10px;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--light_orange);
}

.page2_artwork {
    float: right;
    margin-right: 10vw;
}

.page2_artwork img {
    width: 40vw;
}

/* --- */

/* page3 */

#purple_wall {
    background-color: var(--nice_purple);
    overflow: hidden;
}


#stuff_wrapper {
    position: relative;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.category_chooser {
    position: relative;
    width: 100%;
}

.category_text {
    border-radius: 30px;
    width: 50%;
    text-align: center;
    position: relative;
    background: linear-gradient(90deg, var(--light_orange) 0%, var(--medium_orange) 100%);
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 10px 30px var(--medium_orange_trans);
    margin-bottom: 3rem;
    font-size: 2rem;
}

/* grid */

.grid_layout {
    display: grid;
    column-gap: 15vw;
    row-gap: 10px;
    text-align: center;
}
.row1 {
    grid-row: 1;
}.row2 {
    grid-row: 2;
}.row3 {
    grid-row: 3;
}.row4 {
    grid-row: 4;
}.row5 {
    grid-row: 5;
}
.column1{
    grid-column: 1;
}.column2 {
    grid-column: 2;
}

.grid_header, .grid_text, .category_chooser {
    color: var(--almost_white);
}

.grid_header, .grid_text {
    margin-bottom: 10px;
}

.grid_header {
    font-size: 30px;
}
.grid_text {
    font-size: 20px;
}

/* --- */

/* page4 */

.wave_black2 {
    transform: translateY(3%);
    z-index: 0;
    fill: var(--not_black);
}

.btn_contact {
    margin-top: 5vh;
    left: 50%;
    transform: translateX(-50%);
}

.btn_contact a {
    top: 50%
}

#page4 {
    margin-bottom: 5vh;
}

.page4_artwork img {
    margin-top: 15vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 15vw;
}





/* footer*/

footer {
    background-color: var(--not_black);
}

.footer_inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 15px;
    background: var(--not_black);
}

.sc_media_icon {
    font-size: 1.5rem;
    padding-right: 15px;
}

.sc_media_icon:last-child {
    padding-right: 0;
}

.fab {
    color: var(--almost_white);
    box-shadow: 0 0 0;
    transition: all 750ms;
}
.fab:hover {
    color: var(--medium_orange);
    box-shadow: 0 0 10px var(--medium_orange_trans);
    transition: all 250ms;
}
footer span {
    color: var(--almost_white);
}

/* --- */


@media screen and (max-width: 1000px) {
    .sidenav, #navbarOpener {
        display: block;
    }
    #scroll_here {
        top: 70vh;
    }
    .sc_media_icon {
        font-size: 4vw;
    }
    .page4_artwork img {
        margin-top: 5vh;
        width: 20vw;
    }
    header {
        padding-bottom: 4vh;
    }
    .header_menu {
        visibility: hidden;
        display: none;
    }
    .logo span {
        display: none;
    }
    .logo img {
        width: 2vw;
    }
    .page1_leftside {
        max-width: 100%;
        height: fit-content;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
    }
    .btn-primary{
        border-radius: 40px;
        padding-left: 5.75vw;
        padding-right: 5.75vw;
        padding-top: 1.6vw;
        padding-bottom: 1.6vw;
        margin-top: 1vh;
    }
    .btn-primary a {
        font-size: 1.5rem;
    }
    .btn_contact {
        margin-top: 5vh;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 40px;
        padding-left: 4.75vw;
        padding-right: 4.75vw;
        padding-top: 1.3vw;
        padding-bottom: 1.3vw;
        margin-top: 1vh;
    }
    .picture_wrapper{
        display: none;
    }
    .page1_leftside {
        max-width: 60%;
    }
    .big_h1 {
        font-size: 6vw;
    }
    .intro_p {
        font-size: 4vw;
   }
}

@media screen and (max-width: 800px) {
    .grid_header {
        font-size: 20px;
    }
    .grid_text {
        font-size: 15px;
    }
    .wave_purple {
        transform: translateY(16%);
    }
    .wave_black2 {
        transform: translateY(10%);
    }
    .category_text {
        font-size: 1.25rem;
    }
}


@media screen and (max-width: 500px) {
    header {
        padding-bottom: 1vh;
    }
    .picture_wrapper{
        display: none;
    }
    .big_h1 {
        font-size: 9vw;
    }
    .intro_p {
        font-size: 6vw;
   }
   .wave_black {
    transform: translateY(8%);
}
}

@media screen and (max-width: 400px) {
    .wave_purple {
        transform: translateY(20%);
    }
    .wave_black2 {
        transform: translateY(15%);
    }
}