:root {
    --darkBlack: #263238;
    --lightBlue: #90A4AE;
    --mediumBlack: #2E2E2E;
    --grey: #D5D5D5;
    --white: #FFFFFF;
    --darkGrey: #707070;
    --darkerBlue: #435761;
    --foregroundDark: #37474F;
    --highlight: #76C5EC;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 15px;
    margin-right: 2rem;
  }
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--darkBlack);
  }
::-webkit-scrollbar-thumb {
    background-color:var(--lightBlue);
    border-radius: 10px;
}

.pointer {
    cursor: pointer;
}

::selection {
    background-color: var(--grey);
    color: var(--darkBlack);
}

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--darkBlack);
    min-height: 100vh;
}

#contentWrapper {
    position: relative;
    margin-left: 10%;
    margin-top: 10vh;
    width: 80%;
    height: 90vh;
    transition: all 0.25s;
}

#calcWrapper {
    position: relative;
    width: 60%;
    margin-left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    display: block;
    transition: all 350ms;
    opacity: 1;
}

.listEntry {
    margin-top: 2rem;
    position: inherit;
    display: block;
    width: 100%;
    height: fit-content
}

.listEntry:last-of-type {
    margin-top: 5rem;
    background-color: var(--foregroundDark);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin-left: 50%;
    transform: translateX(-50%);
}

.listEntryName, .listEntryUEC, .listEntryLocation {
    width: fit-content;
    height: fit-content;
    color: var(--white);
    font-size: 2rem;
}

.listEntryLocation {
    color: var(--darkGrey);
}

.listEntryUEC {
    color: var(--lightBlue);
    float: right;
    display: inline-flex;
}

.smallHeader {
    color: var(--darkGrey);
    font-size: 1rem;
}

.listEntryInput {
    background: none;
    text-decoration: none;
    outline: none;
    border: none;
    text-align: right;
    width: 50%;
}

.listEntryInput:focus {
    outline: 1px solid;
}

#together {
    display: block;
    position: relative;
    float: right;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;

}

.spacer {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
    margin-bottom: 1rem;
    position: relative;
    height: 1px;
    width: 50%;
    background-color: var(--darkerBlue);
    border-radius: 1rem;
}

.btn {
    cursor: pointer;
    margin-top: 5rem;
    margin-left: 50%;
    transform: translateX(-50%);
    position: relative;
    border-radius: 1rem;
    background-color: var(--lightBlue);
    color: var(--mediumBlack);
    padding: 0.25rem 1rem 0.25rem 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    transition: all 0.5s;
} 

.btn:hover {
    background-color: var(--grey);
    box-shadow: 0 0 15px #d5d5d559;
    transition: all 0.25s;
}


.btn-primary {
    position: inherit;
}

/* result */

#resultPrint {
    position: relative;
    text-align: center;
    color: var(--white);
    font-size: 2rem;
    margin-bottom: 1rem;
    text-decoration: underline;
    opacity: inherit;
    transition: all 0.25s;
}

.isEnough {
    font-size: 1.25rem;
    margin-top: 10rem;
    opacity: inherit;
}

.isEnough, #restAmount {
    margin-bottom: 1rem;
    display: block;
    position: relative;
    text-align: center;
    color: var(--grey) !important;
    opacity: inherit;
}

#resultWrapper {
    z-index: -1;
    position: absolute;
    width: 0;
    height: 75%;
    margin-left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 350ms;
    
}

#resultWrapper .btn {
    margin-top: 1rem !important;
}

#resultSearch {
    width: 15rem;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1rem;
    background: none;
    border: solid 3px var(--foregroundDark);
    border-top: none;
    border-left: none;
    border-right: none;
    color: var(--grey);
    padding: 0.5rem;
}

#resultSearch:focus {
    outline: none;
    border-color: var(--darkerBlue);
}


#innerWrapper {
    overflow: auto;
    height: 90%;
    background-color: var(--foregroundDark);
    border-radius: 1rem;
    transition: all 350ms;
    opacity: inherit;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.308);
    padding: 2rem;
}


.grid-container {
    width: 90%;
    height: 100%;
    margin-top: 1.5rem;
    margin-left: 5%;
    position: relative;
    display: grid;
    grid-template-columns: 1.3fr 0.9fr 0.9fr 0.9fr;
    grid-template-rows: max-content;
    gap: 1rem;
    transition: all 350ms;
    opacity: inherit;
}

.rightAlign {
    display: block;
    text-align: right;
}


.resultGridName:hover {
    color: var(--highlight);
}

  @media screen and (max-width: 900px) {
    #contentWrapper {
        margin-left: 2.5%;
        width: 95%;
    }
    .listEntryName, .listEntryUEC, .listEntryLocation {
        font-size: 1rem;
    }
    .grid-container {
        margin-left: 0;
    }
    .rightAlign {
        text-align: left;
    }
    #innerWrapper {
        padding: 0.5rem;
        height: 100%;
    }
    #contentWrapper {
        margin-top: 2vh;
    }
    #resultWrapper {
        height: 90%;
    }

}