:root {
    --light_orange: #F7AB3C;
    --medium_orange: #F1811C;
    --medium_orange_trans: #f17f1c81;
    --dark_orange: #EE6B21;
    --almost_white: #F3F3F3;
    --not_black: #252525;
    --nice_purple: #811CF1;
    --material_dark: #212121;
    --grey: #5E5E5E;
    --textGrey: #BEBEBE;
    --lightYellow: #FFE082;
}

html, body {
    z-index: -2;
    overflow-x: hidden;
}

#content_wrapper {
    margin-top: 5rem;
    position: relative;
    display: block;
    margin-left: 20%;
    margin-bottom: 7rem;
    width: 60%;
    min-height: 100vh;

}

#code_back_btn {
    padding: 0.5rem 2.5rem 0.5rem 2.5rem !important;
    left: 50%;
    transform: translateX(-50%);
}

#title {
    font-size: 3rem;
    margin-top: 7rem;
    margin-bottom: 7rem;
    text-align: center;
    position: relative;
    color: var(--dark_orange);
    text-shadow: 0 0 5px var(--medium_orange_trans);
}

#artWrapper {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.bgArt {
    z-index: -1;
    top: 0;
    position: absolute;
    overflow: hidden;
}

.bgArt:first-of-type {
    left: -1000px;
}

.bgArt:last-of-type {
    right: -1100px;
}

#languagesHeader {
    font-size: large !important;
    color: var(--textGrey);
    margin-bottom: 3rem !important;
}

.smallHeader {
    color: var(--grey);
    text-align: center;
    margin-bottom: 8rem;
    font-size: small;
}

#gridWrapper {
    position: inherit;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    margin-bottom: 12rem;
}

.grid-container {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px 20px;
}

.grid-child {
    font-size: 1rem;
    text-align: center;
    background-color: var(--lightYellow);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 15px #0000008a;
    transition: box-shadow 1s;
}

.grid-child:hover {
    transition: box-shadow 0.5s;
    box-shadow: 0 4px 15px #000000;
}

.bigHeader {
    color: var(--dark_orange);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 7rem;
    width: fit-content;
    margin-left: 50%;
    transform: translateX(-50%);
}

#timelineWrapper {
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.entry_wrapper {
    background-color: #272727;
    border-radius: 1rem;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.061);
    padding: 1.5rem;
    display: block;
    flex-direction: column;
    width: 70%;
    margin-left: 50%;
    transform: translateX(-50%) !important;
    height: fit-content;
    margin-bottom: 13rem;
}

.entryHeader {
    margin-bottom: 0.5rem;
}

.entryTitle {
    font-size: 1.5rem;
    color: var(--almost_white);
    position: relative;
    display: inline-block;
    text-decoration: underline;
}

.entryTitle:hover {
    color: var(--light_orange);
    text-shadow: 0 5px 10px #00000017;
}

.entryDate {
    margin-left: 1rem;
    font-size: 1.3rem;
    position: relative;
    color: var(--grey);
    display: inline-block;
}

.entryText {
    font-size: 1rem;
    position: relative;
    color: var(--textGrey);
    display: inline-block;
}

#sureTheresMore {
    margin-top: 10rem;
    width: fit-content;
    display: block;
    position: relative;
    color: var(--grey);
    margin-left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 470px) {
    #content_wrapper {
        width: 80%;
        margin-left: 10%;
    }
    #title {
        margin-bottom: 4rem;
        margin-top: 5rem;
    }
    #timelineWrapper {
        width: 100%;
    }
    .entryTitle {
        margin-bottom: 0.5rem;
    }
    #gridWrapper {
        margin-bottom: 4rem;
    }
}