:root {
    --light_orange: #F7AB3C;
    --medium_orange: #F1811C;
    --medium_orange_trans: #f17f1c81;
    --dark_orange: #EE6B21;
    --almost_white: #F3F3F3;
    --not_black: #252525;
    --nice_purple: #811CF1;
    --material_dark: #212121;
    --grey: #5E5E5E;
    --textGrey: #BEBEBE;
    --lightYellow: #FFE082;
}


#languagesHeader {
    font-size: large !important;
    color: var(--textGrey);
    margin-bottom: 3rem !important;
}



#gridWrapper {
    position: inherit;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    margin-bottom: 12rem;
}

.grid-container {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px 20px;
}

.grid-child {
    font-size: 1rem;
    text-align: center;
    background-color: var(--lightYellow);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 15px #0000008a;
    transition: box-shadow 1s;
}

.grid-child:hover {
    transition: box-shadow 0.5s;
    box-shadow: 0 4px 15px #000000;
}


#timelineWrapper {
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.entry_wrapper {
    background-color: #272727;
    border-radius: 1rem;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.061);
    padding: 1.5rem;
    display: block;
    flex-direction: column;
    width: 70%;
    margin-left: 50%;
    transform: translateX(-50%) !important;
    height: fit-content;
    margin-bottom: 13rem;
}

.entryHeader {
    margin-bottom: 0.5rem;
}

.entryTitle {
    font-size: 1.5rem;
    color: var(--almost_white);
    position: relative;
    display: inline-block;
    text-decoration: underline;
}

.entryTitle:hover {
    color: var(--light_orange);
    text-shadow: 0 5px 10px #00000017;
}

.entryDate {
    margin-left: 1rem;
    font-size: 1.3rem;
    position: relative;
    color: var(--grey);
    display: inline-block;
}

.entryText {
    font-size: 1rem;
    position: relative;
    color: var(--textGrey);
    display: inline-block;
}


@media screen and (max-width: 470px) {
    #content_wrapper {
        width: 80% !important;
        margin-left: 10% !important;
    }
    #title {
        margin-bottom: 4rem !important;
        margin-top: 5rem !important;
    }
    #timelineWrapper {
        width: 100% !important;
    }
    .entryTitle {
        margin-bottom: 0.5rem !important;
    }
    #gridWrapper {
        margin-bottom: 4rem !important;
    }
}