:root {
    --light_orange: #F7AB3C;
    --lightestOrange: #F8CD86;
    --medium_orange: #F1811C;
    --medium_orange_trans: #f17f1c81;
    --dark_orange: #EE6B21;
    --almost_white: #F3F3F3;
    --not_black: #252525;
    --nice_purple: #811CF1;
    --material_dark: #212121;
    --grey: #5E5E5E;
    --textGrey: #BEBEBE;
    --lightYellow: #FFE082;
    --cardBG: #303030;
}

body {
    opacity: 1 !important;
    transition: all 500ms !important;
}

#navbarOpener {
    color: var(--lightestOrange);
    display: block;
}

header {
    display: flex;
    flex-direction: row;
    color: var(--almost_white);
}

#sidebar {
    z-index: 20 !important;
}

.sidenav {
    display: block;
}

.sidenav a:first-child {
    color: var(--lightestOrange) !important;
    background-color: transparent;
}

.sidenav a {
    background-color: #f8cc8623;
    width: 75%;
    margin-left: 5%;
    margin-bottom: .5rem;
    cursor: pointer;
}

.sidenav a:hover {
    background-color: #f8cc86;
    color: #252525 !important;
    text-shadow: none;
}

header div {
    height: 100%;
}

header h1 {
    position: relative;
    font-size: 36pt;
    z-index: 2;
}

#headerUnderline {
    transform: translateY(-2rem);
    width: 60vw;
    background-color: var(--lightestOrange);
    height: 1rem;
}

#latest {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    width: 100%;
    color: var(--almost_white);
}

.entryText {
    word-break: break-all;
}

.entryTitle {
    line-height: 3rem;
    text-align: start !important;
    width: 100%;
    background-color: #303030;
    vertical-align: middle;
}

.entryTitleText {
    margin-left: 1rem;
}

@media screen and (max-width: 500px) {
    #projectLabel {
        background-color: var(--material_dark) !important;
    }
}