:root {
    --light_orange: #F7AB3C;
    --lightestOrange: #F8CD86;
    --medium_orange: #F1811C;
    --medium_orange_trans: #f17f1c81;
    --dark_orange: #EE6B21;
    --almost_white: #F3F3F3;
    --not_black: #252525;
    --nice_purple: #811CF1;
    --material_dark: #212121;
    --grey: #5E5E5E;
    --textGrey: #BEBEBE;
    --lightYellow: #FFE082;
    --cardBG: #303030;
}

#navbarOpener {
    color: var(--lightestOrange);
}

header {
    display: flex;
    flex-direction: row;
    color: var(--almost_white);
}

header div {
    height: 100%;
}

header h1 {
    position: relative;
    font-size: 36pt;
    z-index: 2;
}

#headerUnderline {
    transform: translateY(-2rem);
    width: 60vw;
    background-color: var(--lightestOrange);
    height: 1rem;
}

#mainContent {
    display: flex;
    color: var(--almost_white);
    flex-direction: column;
    align-items: center;
}



/* ENTRIES */

.entryThumbnail {
    position: relative;
    overflow: hidden;
    width: calc(100% + 5rem);
    height: 5rem;
    margin-left: -2.5rem;
    transform: translateY(-2.5rem);
    border-radius: 1rem 1rem 0rem 0rem;
}

.entryThumbnail img {
    position: relative;
    transform: translateY(-25%);
    width: 100%;
    height: initial;
}

.entry_wrapper {
    background-color: #272727;
    border-radius: 1rem;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.061);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 29rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}


.entryTitle {
    font-size: 2rem;
    color: var(--almost_white);
    position: relative;
    display: inline-block;
    text-decoration: underline;
    -webkit-text-decoration-color: var(--light_orange);
    text-decoration-color: var(--light_orange);
    white-space: normal;
    text-align: center;
    margin-bottom: .5rem !important;
}

.entryTitle:focus {
    outline: none;
    border-radius: 4px;
}

@media screen and (max-width: 1400px) {
    .entryHeader {
        margin-bottom: 0.5rem;
    }
    .entryTitle {
        margin-bottom: 0.5rem;
    }
}
@media screen and (min-width: 1000px) {
    .entryTitle:hover::before, .entryTitle:focus::before {
        transform: scale(1,1);
    }
    .entryTitle::before {
        content: "";
        position: absolute;
        bottom: 0.05em;
        left: -0.1em;
        width: calc(100% + 0.2em);
        height: 1.2em;
        background-color: var(--light_orange);
        border-radius: 3px;
        opacity: 0.2;
        transform: scale(1, 0.2);
        transform-origin: 0 95%;
        z-index: -1;
        transition: transform 175ms ease-out;
    }
}
.entryTitle:hover {
    outline: none;
    color: var(--almost_white);
    text-shadow: 0 5px 10px #00000017;
}

.entryDate, .entryTag {
    margin: .5rem;
    font-size: 2rem;
    position: relative;
    display: inline-block; 
    color: var(--textGrey);
}

.entryTag::before {
    content: "";
    position: absolute;
    width: calc(100% + 0.2em);
    height: 1em;
    padding: 0.1em;
    left: -0.2em;
    bottom: 0.001em;
    background-color: var(--textBgGrey);
    border-radius: 10px;
    z-index: -1;
}

.entryText {
    font-size: 1.5rem;
    position: relative;
    color: var(--textGrey);
    display: inline-block;
    line-height: 1.2;
    width: 100%;
    word-break: break-all;
}


.entryMore {
    color: var(--almost_white);
    position: relative;
    text-align: center;
    font-size: 1.35em;
    margin-top: 1rem;
    cursor: pointer;
    transition: text-shadow 0.15s, color 0.15s;
}

#entryPopup {
    z-index: 5;
    background-color: var(--material_dark);
    border-radius: 1rem;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.103);
    padding: 2rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    overflow-y: auto !important;
    overflow-x: hidden;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 85vh;
    width: 75%;
    opacity: 0;
    transition: opacity 0.25s;
}

#entryPopup::-webkit-scrollbar {
    width: 0.5rem !important;
    background-color: var(--not_black) !important;
}

#entryPopup::-webkit-scrollbar-thumb {
    background-color: var(--light_orange) !important;
    border-radius: 10px !important;
}


@media screen and (min-width: 2000px) {
    #entryPopup {
        width: 60%;
    }
}

@media screen and (max-width: 1400px) {
    #entryPopup {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .entryTitle {
        width: 100%;
    }
    #entryPopup {
        height: 70%
    }

    #entryLeftSide {
        width: 100%;
    }

    #popupLine {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
}

#popupLeftSide {
    position: relative;
    overflow: hidden;
    width: 100%;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-left: 50%;
    transform: translateX(-50%);
    align-items: center;
    flex-direction: column;
}

#popupLeftSide img {
    width: 600px;
    margin-top: 1em;
    margin-bottom: 1em;
    border: solid 0.25rem var(--light_orange);
    border-radius: 1rem;

}

@media screen and (max-width: 1000px) {
    #popupLeftSide img {
        width: 400px;
    }
}


@media screen and (max-width: 750px) {
    #popupLeftSide img {
        width: 250px;
    }
    #popupLeftSide .texts {
        height: 70%;
    }
}

@media screen and (max-width: 350px) {
    #popupLeftSide img {
        width: 200px;
    }
}

.popupTextWrapper {
    margin-bottom: 1rem;
    background-color: #292929;
    padding: .75rem;
    border-radius: 0.5rem;
}

.popupTextWrapper h3 {
    font-size: 1.5em;
}

#entryPopup h3 {
    color: var(--light_orange);
    margin-bottom: 0.5em;
    margin-top: 0;
}

#popupLine {
    width: 90%;
    height: 0.25rem;
    background-color: var(--textBgGrey);
    border-radius: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

#popupRightSide {
    flex-grow: unset;
    bottom: -3rem;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-left: 50%;
    transform: translateX(-50%);
    align-items: flex-start;
}

#popupClose {
    left: -1.5rem;
    top: 92%;
    width: 100%;
    text-align: center;
    position: relative;
    flex-basis: 10px;
    bottom: 0 !important;
    margin: 0 !important;
    color: var(--almost_white) !important;
    font-family: brevia, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none !important;
}

#entryPopup button {
    margin-top: 5rem;
}

#popupClose , #sidebarLink {
    color: var(--light_orange);
    text-decoration: underline;
    cursor: pointer;
    top: unset;
    bottom: -1.5rem;
    margin-top: 3rem;
    left: 0;
    width: unset;
    flex-basis: unset;
}

#popupClose:hover , #sidebarLink:hover {
    color: var(--textGrey);
}

@media screen and (max-width: 1100px) {
    .entry_wrapper {
        margin-left: 0;
    }
}

@media screen and (max-width: 800px) {
    .entryDate {
        margin: 0.5rem;
    }
    .entryTitle {
        margin-bottom: 0.5rem;
    }
    .entry_wrapper {
        width: 100%;
    }
    #popupRightSide {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 470px) {
    #title {
        margin-bottom: 4rem !important;
        margin-top: 5rem !important;
    }
    #timelineWrapper {
        width: 100% !important;
    }
    #gridWrapper {
        margin-bottom: 4rem !important;
    }
    .entryDate {
        font-size: 1.35rem;
    }
    #popupWrapper p  {
        font-size: 0.9rem;
    }
    #entryPopup {
        flex-direction: column;
        display: block;
        overflow-y: auto !important;
        height: 83vh;
    }

    #popupLeftSide {
        width: 100%;
        flex-grow: 2;
        display: flex;
        justify-content: center;
        align-content: flex-start;
        flex-wrap: wrap;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    #popupLeftSide img{
        margin-right: 0;
    }
    #popupLine {
        width: 90%;
        height: 0.25rem;
    }
    #popupRightSide {
        flex-grow: unset;
        width: fit-content;
        flex-direction: row;
        bottom: -3rem;
        margin-left: 50%;
        transform: translateX(-50%);
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    #popupLeftSide .texts {
        height: 45%;
    }
    #popupClose {
        top: unset;
        bottom: -1.5rem;
        margin-top: 3rem;
        left: 0;
        width: unset;
        flex-basis: unset;
    }
    .sidebarWrapper {
        margin-right: 2rem;
        margin-left: 2rem;
        align-items: center;
    }
}

@media screen and (max-width: 370px) {
    #popupWrapper p  {
        font-size: 0.8rem;
    }
}